{% extends 'base.html.twig' %}

{% block title %}
Catégories
{% endblock %}

{% block body %}
<h1 class="text-center pt-3">{{categorie.libelle}}</h1>

<div class="row mx-auto justify-content-center align-items-center pt-4">
    <div class="card border-primary mb-3" style="max-width: 50%;">
        <div class="card-header text-center "><h4>{{categorie.libelle}}</h4></div>
        <div class="card-body display: flex; flex-direction: row;">
            <img class="mx-auto mt-3 categories" src={{categorie.image}} alt="categoriePhoto" style="height: 250px; width: 200px; display: block;">
            <p class="mt-4">{{categorie.description}}</p>
        </div>
        <div class="card-body mx-auto">
                <a href="{{path('categories')}}" class="btn btn-success btn-block text-center mb-4 ">Retour aux catégories</a>
        </div>
    </div>
</div>
    
{% endblock %}
